language: python
os: linux
sudo: required

python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"

addons:
  apt:
    packages:
      - qtbase5-dev

install:
  - |
    if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]] || [[ "$TRAVIS_PYTHON_VERSION" == "3.4" ]]; then
      # python<=3.4
      CONDA_URL="https://repo.continuum.io/miniconda"
      CONDA_FILE="Miniconda3-latest-Linux-x86_64.sh"
      CONDA_DEST="$HOME/miniconda"

      wget "$CONDA_URL/$CONDA_FILE" -O miniconda.sh
      bash miniconda.sh -b -p "$CONDA_DEST"

      export PATH="$CONDA_DEST/bin:$PATH"
      conda config --set always_yes yes --set changeps1 no
      conda update -q conda
      conda info -a

      # create the env in two steps for specific python version
      conda create -n testenv python="$TRAVIS_PYTHON_VERSION"
      source activate testenv
      conda env update -n testenv -f environment.yml
    else
      # python>=3.5
      # exclude 5.10 on travis https://bugreports.qt.io/browse/QTBUG-64928
      pip install "pyqt5!=5.10"
    fi
  - pip install -e .[dev]
  - pip install codecov
  - pip list

script:
  - pytest --cov

after_success:
  - codecov
