language: python
os: linux
sudo: required

python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"

install:
  - sudo apt-get update
  - |
    if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]] || [[ "$TRAVIS_PYTHON_VERSION" == "3.4" ]]; then
      # python<=3.4
      PYTHON_MAJOR="${TRAVIS_PYTHON_VERSION:0:1}"
      CONDA_URL="https://repo.continuum.io/miniconda"
      CONDA_FILE="Miniconda$PYTHON_MAJOR-latest-Linux-x86_64.sh"
      CONDA_DEST="$HOME/miniconda"

      wget "$CONDA_URL/$CONDA_FILE" -O miniconda.sh
      bash miniconda.sh -b -p "$CONDA_DEST"

      export PATH="$CONDA_DEST/bin:$PATH"
      conda config --set always_yes yes --set changeps1 no
      conda update -q conda
      conda info -a

      conda create -q -n testenv python="$TRAVIS_PYTHON_VERSION" -f environment.yml
      source activate testenv
    else
      # python>=3.5
      pip install -r requirements.txt
    fi
  - pip install -r requirements-dev.txt
  - pip install -e .

script:
  - pytest
